p, li{ 
    color: #303030;
}
.default-font {
    font-family: 'Crimson Text', serif;
}
.title-align { 
    margin: 0em;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}
.floatclear{
    clear: both;
}
.title{ 
    font-family:'Cairo', sans-serif;
    font-size: 4.6875em;
    color: #fcd557;
    margin: 0em;
}
.title2{ 
    font-family:'Cairo', sans-serif;
    font-size: 2.1875em;
    color: #fcd557;
    margin: 0em;
}
.title3{
    font-family:'Cairo', sans-serif;
    font-size: 1.1875em;
    color: #fcd557;
    margin: 0em;
}
.title4{
    font-family:'Cairo', sans-serif;
    font-size: 0.6875em;
    color: #fcd557;
    margin: 0em;
}
#wrapper {
    width: 85.25em;
    margin: auto;
}
head{
    background-color: #929292;
}
body{
    background-color: #929292;
}
  /* navbar */
#main-navbar
{
	background-color: #fcd557;
	overflow: hidden;
	width: 100%;
}

#navbar-container
{
	float: left;
	width: 100%;
	position: relative;
}

#main-navbar ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
    left: 50%;
 	float: left;
 	position: relative;
}

#main-navbar ul li
{
    display: block;
 	float: left;
 	right: 50%;
 	position: relative;
}

#main-navbar ul li a
{
	display: block;
	padding: 20px 20px;
	color: rgb(34, 34, 34);
	text-decoration: none;
    font-size: x-large;
}

#main-navbar ul li a:hover
{
	background-color: #929292;
}
/* index */
#robotimage{
    float: right;
    position: relative; 
    top: -11em;
    right: -30em;
    
}
.aboutme-section{
    border: 1px #929292;
    padding: 10px;
    width: 1000px;
    height: 1000px;
    text-align: justify;
}
.center{
    border: 1px #929292;
    padding: 10px;
    width: 1000px;
    height: 1000px;
    text-align: justify;
}
.contacts{
    border: 1px #929292;
    padding: 10px;
    width: 1000px;
    height: 1000px;
    text-align: justify;
}
/* resume */
.education{
    position: relative;
    margin-bottom: 1em;
    height: 24em;
    width: 30em;
}
.extras{
    float: right;
    position: relative;
    height: 19em;
    width: 30em;
    right: 5em;
    top: -55em;
}
#profile{
    margin-bottom: 1em;
    height: 10%;
    width: 10%;
}

/* hobbies */
.resize-photo{
    height: 590px;
    width: 920px;
}
.image-container{
    float: right;
    position: relative;
    height: auto;
    width: 50%;
}
.imagesr{
    float: right;
    position: relative;
    right: -4em;
}
.hobbies{
    position: relative;
    background-color:#929292;
    padding: 1em;
    font-size: 0.7em;
    font-size: 0.8vw;
    width: 50%;
}